.Footer-sec{
background-color: #051c34 !important;
padding-left: 3rem;
padding-right: 3rem;
width:100%;
/* margin-right: 0 !important;
margin-left: 0 !important; */
color: #fff;
}
.Footer-sec .row{
 --bs-guitter-x-: 0 !important;

}
.footer-logo , 
.footer-links h3,
.footer-followus h3{
    margin-bottom: 1rem;
}
.contact{
    margin-bottom: 1rem;
}
.contact h5{
    margin-left: 1rem;
}
.footer-links a{
    font-size: 1rem !important;
    text-transform: capitalize;
}

.footer-followus ul li{
    display: inline-block;
    margin-right: 20px;

}
.footer-followus ul img{
    font-size: 18px;
}

@media(min-width: 576px){
    footer h5{
        font-size: 1rem;
    }
}