.testimonials-sec{
    background-image: url("../../assets/images/landing-page/sec-6/bg-sec6.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-origin: border-box;
}
.cardImg img{
    height:300px;
    object-fit: cover;
}


  
.animated-card {
    animation: slideIn 10s linear forwards infinite;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      /* opacity: 0; */
    }
    to {
      transform: translateX(0);
      /* opacity: 1; */
    }
  }

  @media(max-width:576px){
    .animated-card{
      transform: scale(0.9);
    }
    .animated-card .card-body{
      padding: 0.75rem;
    }
    .animated-card h2{
      font-size: 1rem;
    }
    .animated-card p{
      font-size: .9rem;
    }
    .cardImg img{
      height:200px;
      width: 200px;
      object-fit: cover;
    }
  }
  @media(max-width:768px){
    .cardImg img{
      height:200px;
      width: 300px;
      object-fit: cover;
    }

  }
  
  
  

