body{
    overflow-x: hidden;
}


/*Start Search Bar */
.search-bar{
    padding: 9rem 2rem 3rem;
}
/*End Search Bar*/

/* Start Section Heading */
.section-heading{
    padding: 2.5rem 0;
}
.section-subtitle{
    background-color: #d9e5f2;
    padding: 1rem;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    font-weight: 600;
}
.section-title{
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 1px;

}


